<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <File name="file" fileName="/home/arseni/IdeaProjects/Pizza-web/src/main/java/by/fpmibsu/test.log" append="false">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %class{36} %L %M - %msg%xEx%n"/>
        </File>
    </Appenders>

    <Loggers>
        <Logger name= "by.fpmibsu.Servlet" level="debug" additivity="false">
            <AppenderRef ref="file"/>
        </Logger>

        <!-- Root Logger -->
        <Root level="all" additivity="false">
            <AppenderRef ref="file"/>
        </Root>
    </Loggers>


</Configuration>